footer.footer(id="footer")
    .container.container--md
        .footer_container
            .social.footer_social
                a(href="#").social_item
                    img(src="img/svg/social-fb.svg", alt="Facebook").social_img
                a(href="#").social_item
                    img(src="img/svg/social-vk.svg", alt="Вконтакте").social_img
                a(href="#").social_item
                    img(src="img/svg/social-inst.svg", alt="Instagram").social_img
            p.footer_title Следите за&nbsp;нашим развитием
            p.footer_text Подпишитесь на&nbsp;наши аккаунты в&nbsp;соц. сетях, знакомьтесь с&nbsp;нашими проектами и&nbsp;тем, что нас вдохновляет
            .footer_contacts
                a(href="tel:+78129035445").link
                    img(src="img/svg/phone.svg", alt="трубка").link_img
                    span.link_title +7 (812) 903-54-45
                .footer_contacts-adress
                    a(href="https://yandex.ru/maps/2/saint-petersburg/house/galernaya_ulitsa_55/Z0kYdA9oS0UHQFtjfXVycHtnZg==/?ll=30.288505%2C59.931665&z=18" target="_blank").link
                        span.link_title Ул. Галерная, д 55,
                    p.footer_contacts-city Санкт-Петербург
                a(href="mailto: 9035445@gmail.com").link.link--border-bottom
                    img(src="img/svg/envelope.svg", alt="конверт").link_img
                    span.link_title 9035445@gmail.com
    .footer_bottom
        p.color-grey © FIX Ремонт, 2023
