header.header
    .container
        .header_container
            img(src="img/svg/logo.svg", alt="Fix Ремонт" width="200" height="55").logo
            a(href="#footer").link
                img(src="img/svg/phone.svg", alt="трубка").link_img
                span.link_title Контакты

