.accent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @include vp-1023 {
        padding-bottom: 2rem;
    }

    @include vp-767 {
        padding-top: 2rem;
    }
}

.accent_text {
    margin-bottom: 4.5rem;
    max-width: 47rem;
    font-size: 2.1rem;
    line-height: 1.43;

    @include vp-767 {
        margin-bottom: 3.2rem;
        font-size: 1.8rem;
    }
}

.accent_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
