:root {
    --default-transition: 0.2s ease;

    // Colors
    // ---------------------------------
    --color-default-black: #000000;
    --color-default-white: #ffffff;
    --color-orange: #F9572E;
    --color-orange-hover: #FF7B59;
    --color-orange-shadow: rgba(249, 87, 46, 0.6);
    --color-orange-shadow-hover: rgba(249, 87, 46, 0.7);
    --color-grey: #666666;
    --color-grey-pale: #F2F2F2;;
    --color-grey-light: #CCCCCC;
    --color-mint: #33B5A3;
    --color-mint-light: #63D2C1;
    --color-mint-light: #63D2C1;
    --color-overlay: rgba(0, 0, 0, 0.5);

    // Elements Size
    --header-height: 12.7rem;
    --header-height-mob: 7.7rem;
}

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;
