.accent
    div
        h1.title Ремонт квартир <br> в типовых домах
        p.accent_text Готовый дизайн-проект, работы и&nbsp;материалы за&nbsp;3&nbsp;месяца от&nbsp;610 т.р.
        .accent_wrap
            a(href="#form").button Узнай о запуске первым
            p.color-grey Старт весной 2023
