section.info(id="info")
    .container.container--md
        .info_container
            h2.title.title--md FIX Ремонт&nbsp;&mdash; это легко
            p.info_text.mint-text Готовые проекты, проверенные материалы и&nbsp;умелые руки
            ul.info_list
                li.info_list-item
                    h3.title.title--sm Опытная команда
                    p.color-grey Команда проектировщиков и&nbsp;строителей со&nbsp;стажем работы более 6&nbsp;лет
                li.info_list-item
                    h3.title.title--sm Типовые дизайн-проекты
                    p.color-grey Три стиля чистовой отделки &laquo;под ключ&raquo; и&nbsp;спектрдополнительных услуг
                li.info_list-item
                    h3.title.title--sm Фиксированная смета
                    p.color-grey Никаких дополнительных расходов во&nbsp;время ремонта. Расчет стоимости при заключении договора
                li.info_list-item.info_list-item--accent
                    h2.title.info_title 3 месяца
                    h3.title.title--sm Срок работ
