.player(data-player)
    video(src="https://12.react.pages.academy/static/film/video/bike.mp4" poster="img/video-bg.jpg" data-player-video).player_video
    .player_button-wrap
        button(data-play-button).player_button
            span.player_button-text Смотреть видео
